# Java
*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Mac
.DS_Store
